.notification{
    padding:15px;
    margin:15px 0;
    border-radius:6px;
    color:white;
    font-weight:bold;
}

.success{
    background:#4CAF50;
}

.error{
    background:#F44336;
}

.warning{
    background:#FF9800;
}